#main{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top:0px;
    margin-bottom:10px;
    background-color: #FFFFFF;
    border-color: #ef7f01;
    border-radius: 7px;
    border: 1px solid #c7c7c7;
    box-shadow: 3px 3px 3px 3px #a9a9a9;
    margin-top: 35px;
}

#header{
	/*color: #00609f;
      background-image: linear-gradient(to right, white, white 12%, #00609f); 
      */
    font-weight: bold;
    text-align: center;
    margin: 20px;
    /*background-color: #428bca; */
    color:00609f;
    height: 110px;
}

.form-control{
    border: 1px solid #bcbcbc;
}

.img-header{
    height: 110px;
}

.inscription{
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
}

.custom-alert{
    margin-top: 4px;
    padding: 0px;
}

.custom-panel{
    margin: 40px auto;
    max-width: 900px;
}

.alert{
    padding: 0;
}

.bandeau{
    background-image: linear-gradient(to right, white 12%, #EF7F01);
    border-radius: 4px;
    color: #3B3B3B;
    font-size: 10px;
    margin-left: 11px;
}

.form-group label{
    /**color:#003866; */
    color:black;
}

#erreurPj{
    max-width: 250px;
    text-align: center;
}

.tableOfCandidature{
    margin: 0 auto;
    width: auto;
    max-width: 80%;
}

.tableOfCandidature td, .tableOfCandidature th{
    text-align: center;
    vertical-align: middle;
}

.currentEtape{
    color:#EC8003!important;
}

.crumbs { 
    display: block;    
    margin: 0 auto;
    max-width: 640px; }  
.crumbs li {  display: inline; }  
.crumbs li.first { padding-left: 8px; }  
.crumbs li a,  
.crumbs li a:link,  
.crumbs li a:visited {  
    color: #428bca;  
    display: block;  
    float: left;  
    font-size: 14px;  
    margin-left: -13px;  
    padding: 5px 30px 9px 26px; 
    position: relative;  
    text-decoration: none;  
}  
.crumbs li a {   
    background-repeat: no-repeat;  
    background-position: 100% 0;  
    position: relative;  
}  
.crumbs li a:hover {  
    color: #333;  
    background-position: 100% -48px;  
    cursor: pointer;  
}  
.crumbs li a:active {  
    color: #333;  
    background-position: 100% -96px;  
}  
.crumbs li.first a span {  
    height: 29px;  
    width: 3px;  
    border-left: 1px solid #d9d9d9;  
    position: absolute;  
    top: 0px;  
    left: 0px;  
} 

.noBold label{
    font-weight: normal;
}

.travailStage{
    height: 250px;
    width: 280px;
}

#stages td{
    vertical-align: middle;
}

.center{
    text-align: center;
}

.comment{
    background-color: #f5f5f5;
    border: 1px solid #b4b5b5;
    height: 110px;
}

.comment textarea{
    height: 80px;
    margin: 0 auto;
    width: 450px;
}

.custom-label{
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
}

.label-pj{
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
    max-width: 160px;
    padding: 4px;
    margin-top: 20px;
}

.deleteLink{
    display: block;
    margin-bottom: 10px;
    margin-left: 13px;
}

.deleteLink:hover{
    text-decoration: none;
}